.propertyimage {
    margin: 2em;
    display: flex;
    width: 20%;
    max-width: 20%;
    background-color: grey;
    box-shadow: .5em .5em darkolivegreen;
}

.name {
  margin-top: 2em;
  float: right;
  margin-right: 60%;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
.propertyform_one {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  margin-top: 1em;
  padding: 1%;
  background-color: olivedrab;
  box-shadow: .5em .5em lightgrey;
  margin-bottom: 2em;
  width: fit-content;
  height: fit-content;
  margin-left: 2em;
}

.propertyform_two {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  margin-top: 1em;
  padding: 1%;
  background-color: olivedrab;
  box-shadow: .5em .5em lightgrey;
  margin-bottom: 2em;
  width: fit-content;
  height: fit-content;
}

.propertyform_three {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  margin-top: 1em;
  padding: 1%;
  background-color: olivedrab;
  box-shadow: .5em .5em lightgrey;
  margin-bottom: 2em;
  width: fit-content;
  height: fit-content;
}

.propertyform_util {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  margin-left: 2em;
  margin-top: 1em;
  width: 13%;
  padding: 1%;
  text-align: center;
  background-color: darkgrey;
  box-shadow: .5em .5em lightgrey;
  margin-bottom: 2em;
}

.submitbutton {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  margin-top: 1em;
  padding: 1%;
  background-color: olivedrab;
  box-shadow: .5em .5em lightgrey;
  width: 20%;
  margin-bottom: 2em;
  margin-left: 2em;
}