.navbar {
    font-size: x-large !important;

    background-color: olivedrab;
    box-shadow: 0em .5em lightgrey;

    width: 100%;
    margin-bottom: .5em;
    padding: 0em !important;
    padding-top: 1em !important;
    padding-left: .5em !important;
    padding-right: .5em !important;
}