.home {
  max-width: 95%;
  margin-left: 2.5%;
}
.leaderboard_heading {
  margin-top: 1em;
}

.leaderboard {
  border: .25em solid olivedrab;
}

.edithistory_heading {
  margin-top: 1em;
}

.edithistory {
  border: .25em solid olivedrab;
}