.navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: left;
  background-color: olivedrab;
  box-shadow: 0em .25em darkolivegreen;
}

.leaderboard_heading {
  padding-top: 1%;
  padding-left: 1%;
  width: max-content;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leaderboard {
  width: 40%;
  padding: 1%;
  float: left;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edithistory {
  width: 60%;
  padding: 1%;
  float: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.propertyimage {
  float: left;
  display: flex;
  padding: 2%;
  width: 20%;
  height: 20%;
}